upstream openhab_yandex2 {
    server unix:///home/andrewsha/projects/yandex2mqtt/config/yandex2mqtt.sock;
}

server {
    server_name     openhab-yandex2.andrewsha.net;
    listen 443 ssl;
    include "/etc/nginx/conf/andrewsha-ssl.conf";
    include "/etc/nginx/conf/petrovich-default-config.conf";
    include "/etc/nginx/conf/petrovich-default-locations.conf";

    location / {
        uwsgi_pass  openhab_yandex2;
        include     /home/andrewsha/projects/yandex2mqtt/config/uwsgi/uwsgi_params;
    }
}
