[Unit]
Description=yandex2mqtt

[Service]
User=andrewsha
Restart=always
RestartSec=5
Nice=1
SuccessExitStatus=0 1
WorkingDirectory=/srv/andrewsha/yandex2mqtt
ExecStart=/srv/andrewsha/yandex2mqtt/venv/bin/uwsgi --ini config/uwsgi/uwsgi.ini
ExecStop=/srv/andrewsha/yandex2mqtt/venv/bin/uwsgi --stop config/yandex2mqtt.pid

[Install]
WantedBy=multi-user.target